.aside-menu__wrapper{
  height: 100%;
  width: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  animation-duration: 2s;
  animation-name: slide;
  position: relative;
}
@keyframes slide{
  from {
    width:0;
  }
  to {
    width: 130px;
  }
}

