@import "styles/index";

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background-secondary);
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--background-secondary);
}

.root-app {
  height: 100%;
  width: 100%;
  background-color: var(--background-secondary);
}

.rf-modal__wrapper {
  overflow-y: auto !important;
}
